*{
    box-sizing: border-box;
    font-family: 'Inter','sans-serif';
    font-weight: 500;
}
.outline-none{
    outline: none !important;
}
.box-shadow-none{
    box-shadow: none !important;
}
.white-space-wrap{
    white-space: pre-wrap;
}
body{
    background: #EBEDEF;
}

.bg-black{
    background-color: black !important;
}

.bg-F9B115{
    background-color: #F9B115;
}

.bg-3399FF{
    background-color: #3399FF;
}

.bg-E55353{
    background-color: #E55353;
}